.button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 16px 60px;
    background-color: var(--blue-dark);
    border: none;
    border-radius: 8px;
}

.button:hover {
    cursor: pointer;
}

.button span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    color: var(--gray-100);
}