.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginbox {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 380px;
    height: 470px;

    background: var(--gray-700);
    border-radius: 8px;

    padding: 1rem;

    margin: 7rem 1rem 0 1rem; 
}

.loginbox img {
    width: 7.875rem;
}

.loginbox form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    gap: 1rem;
    margin-top: 4rem;
}

.loginbox > form > .buttonBox {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 1rem;

    gap: 1rem;
}